@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic);

.my-name {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    text-shadow: 0 0 2px white;
    background-color: #aaaaaa;
    border-radius: 15px;
    padding: 1px 10px;
    margin: 30px auto;
    width: 200px;
    box-shadow: 0 0 5px 5px #aaaaaa,
                0 15px 5px 2px rgba(0,0,0,0.15),
                0 -15px 5px 2px rgba(0,0,0,0.15),
                10px 0 5px 4px rgba(0,0,0,0.15),
                -10px 0 5px 4px rgba(0,0,0,0.15);
    text-align: center;
    color: white;
}